<!DOCTYPE html>
<html>
<head>
  <title>微博</title>
  <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
  <style type="text/css">
    .container {margin-top: 20px;}
    .img-modal {display: inline-block; width: auto;}
    .modal {text-align: center;}
    #largeimage {width: 100%;}
  </style>
</head>
<body>
  <div class="container">
    <h1>
      <a href="http://weibo.com/u/5992909524" target="_blank">
        <img src="/static/avatar.jpg" alt="sha256cc" class="img-circle">
      </a>
      <small>来@sha256cc吧！</small>
    </h1>
  <hr/>
  {{ range .Weibos }}
    <h6>
      <strong>{{ .Author }}</strong>
      <small>
        <a href="{{ .URL }}" target="_blank">{{ .FormatTime .Addtime }}</a>
      </small>
    </h6>
    <p>{{ .Text }}</p>
    {{ range .Pics }}
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#imageModal">
        <img src="{{ . }}" referrerpolicy="no-referrer">
      </a>
    {{ end }}
    <br/>
    <small>@ by {{ .At_By }} at {{ .FormatTime .At_Time }}</small>
    <hr/>
  {{ end }}
  <p>共计{{ .AllPage }}页，当前{{ .Page }}页</p>
  {{ if gt .LastPage 0 }}
  <a class="pull-left" href="/page/{{ .LastPage }}">上一页</a>
  {{ end }}
  {{ if gt .NextPage 0 }}
  <a class="pull-right" href="/page/{{ .NextPage }}">下一页</a>
  {{ end }}  
  </div>
</body>
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg img-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img id="largeimage" referrerpolicy="no-referrer">
      </div>
    </div>
  </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $('.thumbnail').click(function(){
    var url = $(this).find('>img').attr('src');
    $('#largeimage').attr('src', url.replace('thumbnail', 'large'));
  });
</script>
</html>
